
body { color:#fff;font-weight: bold;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),url(https://raw.githubusercontent.com/lasjorg/fcc-form-example-image/master/67103817-7c51e200-f18b-11e9-975f-f74561336a9a-lj.jpg);

    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}

#title {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin-top: 20px;
}

#description {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

 #survey-form {
    background-color: #1b1b32;
    padding-left: 50px;
    width: 80%;
    max-width:800px;
    margin:auto;
    padding:20px;
 }

 .labels{
     color: white;
     padding: 10px;
     display: block;
     margin: 12px;
 }

#survey-form input[type=text],
#survey-form input[type=email],
#survey-form input[type=number] {
    width: 95%;
    display:block;
    margin:10px;
    padding:10px;
}

select {
    width: 98%;
    display:block;
    margin:10px;
    padding:10px;
}

.op {
    display: block;
    margin: 5px;
    padding: 0 10px;
}

textarea {
    width:100%;
    height:120px;
}

#submit {
    font-size:120%;
    width: 70%;
    padding:15px;
    display:block;
    margin: 20px auto;
    background-color: #398;
    color:#fff;
    border:none;
}
